.container {
	height: cal(100vh-100px);
	background-color: #d1411e;
	overflow: hidden;
}

.arrowContainer {
	position: relative;
	height: 10%;
	width: 20%;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
}

.wrapper {
	width: 300vw;
	height: 100%;
	display: flex;
}

.imgContainer {
	width: 100vw;
	height: 100%;
	position: relative;
}
